<configuration>
  <appSettings>
    <add key="vs:EnableBrowserLink" value="true" />
  </appSettings>
  <system.webServer>

    <!-- indicates that the hello.js file is a node.js application
    to be handled by the iisnode module -->

    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- use URL rewriting to redirect the entire branch of the URL namespace
    to hello.js node.js application; for example, the following URLs will
    all be handled by hello.js:

        http://localhost/node/express/myapp/foo
        http://localhost/node/express/myapp/bar

    -->

    <rewrite>
      <rules>
        <rule name="app">
          <match url="/*" />
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>

<iisnode watchedFiles="*.js;node_modules\*;routes\*.js;views\*.jade"
nodeProcessCommandLine="\program files\nodejs\node.exe" nodeProcessCountPerApplication="0"/>

  </system.webServer>
  <system.web>
    <compilation debug="true" />
  </system.web>
</configuration>

