<breadcrumbs ng-attr-title="breadcrumbs.title" ng-attr-links="breadcrumbs.links"></breadcrumbs>

<div class="page normal-page container">
    <div class="widget">
        <div class="title-wrapper">
            <h3 class="widget-title">Administration panel</h3>

            <div class="clear"></div>
        </div>
        <div class="wcontainer">

            <div class="control-group">
                Welcome to the administration panel.
            </div>

            <div class="control-group">
                <div class="row-fluid">
                    <a href="/admin/character" class="btn btn-default span4">Character</a>
                    <a href="/admin/account" class="btn btn-default span4">Account</a>
                    <a href="/admin/clan" class="btn btn-default span4">Clan</a>

                    <div class="clear"></div>
                </div>
            </div>

            <div class="control-group">
                <div class="row-fluid">
                    <a href="/admin/items" class="btn btn-default span4">Item</a>
                    <a href="/admin/itemOfTheDay" class="btn btn-default span4">Item of the day</a>
                    <a href="/admin/shop" class="btn btn-default span4">Shop</a>

                    <div class="clear"></div>
                </div>
            </div>

            <div class="row-fluid">
                <a href="/admin/rotation" class="btn btn-default span4">Item rotation</a>
                <a href="/admin/paypal" class="btn btn-default span4">PayPal</a>
                <a href="/admin/paysafecard" class="btn btn-default span4">Paysafecard</a>

                <div class="clear"></div>
            </div>

            <div class="clear"></div>
        </div>
    </div>
</div>