<!doctype html>
<html lang="en-US" ng-app="revolutionApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title ng-bind="title"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="shortcut icon" href="/img/favicon.png">
    <script src="/js/angular.js"></script>
    <style>
        .ng-cloak { display:none; }
    </style>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800italic'
          rel='stylesheet' type='text/css'>
    <%- renderStyles() %>
    <base href="/"/>
    <meta name="google-site-verification" content="y4MPddBdreYRaLhB-UtjJSQ1tTMBbKb7xl6ImmqoAOE"/>
    <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async
            defer></script>
</head>
<body class="ng-cloak">

<div id="fb-root"></div>
<div id="preLoader"></div>
<div id="main_wrapper">
    <div class="container logo">
        <a class="brand" href="/">
            <img src="img/gzf-white.png" alt="logo"/>
        </a>
        <img id="shootGirl" class="visible-desktop visible-tablet" src="/img/girl.png" alt="Shooting girl"/>

        <div class="clear"></div>
    </div>
    <header></header>
    <div id="view" style="position: relative;">
        <div ng-view class="fadeView"></div>
    </div>
</div>

<%- renderJs() %>

<script src="/js/tinymce/tinymce.min.js"></script>
</body>
</html>
