<!doctype html>
<html lang="en-US" ng-app="revolutionApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title ng-bind="title">Launcher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/layerslider.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/colorstyles/background4.css"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800italic'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/custom.css">

    <style>
        #logo{
            height: 76px;
            width: auto;
            margin-left: 20px;
        }
        .span4{
            width: 200px !important;
        }
        body, html{
            height: 100%!important;
            width: 100% !important;
            overflow: hidden !important;
        }

        .wcontainer{
            padding: 10px 10px 0 10px;;
            margin: 0;
        }
    </style>
</head>
<body>
<div id="main_wrapper">
    <div class="container logo">
        <img src="img/gzf-white.png" alt="logo"/>

        <div class="clear"></div>
    </div>
    <div class="page normal-page container">

        <div id="launcher" class="row-fluid">

            <div class="row-fluid">
                <div class="span12">
                    <div id="statistics" class="widget" multipleline="true">
                        <div class="title-wrapper">
                            <h3 class="widget-title">Statistics</h3>

                            <div class="clear"></div>
                        </div>
                        <div class="wcontainer">
                            <div class="row-fluid">
                                <ul>
                                    <li>
                                        <div class="span4">
                                            <img src="/img/launcher/stats.png"/> <span
                                                class="option">Server status:</span>
                                            <% if(statistics.server.isOnline) { %>
                                            <span class="online">Online</span>
                                            <% } else { %>
                                            <span class="offline">Offline</span>
                                            <% } %>
                                        </div>
                                        <div class="span4">
                                            <img src="/img/launcher/transmit_blue.png"/> <span class="option">Users online:</span>
                                            <%=
                                            statistics.server.CurrPlayer %>/<%= statistics.server.MaxPlayer %>
                                        </div>
                                        <div class="span4">
                                            <img src="/img/launcher/award_star_gold_3.png"/> <span class="option">Most online ever:</span>
                                            <%= statistics.server.amountMostOnlineUsers %>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    <li>
                                        <div class="span4">
                                            <img src="/img/launcher/chart_curve.png"/> <span class="option">Most online today:</span>
                                            <%= statistics.server.amountMostOnlineUsersToday %>
                                        </div>
                                        <div class="span4">
                                            <img src="/img/launcher/user.png"/> <span
                                                class="option">Accounts created:</span> <%=
                                            statistics.server.amountAccounts %>
                                        </div>
                                        <div class="span4">
                                            <img src="/img/launcher/shield.png"/> <span
                                                class="option">Clans created:</span> <%=
                                            statistics.server.amountClans %>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    <li>
                                        <div class="span4">
                                            <img src="/img/launcher/controller_add.png"/> <span
                                                class="option">Characters created:</span> <%=
                                            statistics.character.amountCharactersRegistered %>
                                        </div>
                                        <div class="span4">
                                            <img src="/img/launcher/new.png"/> <span
                                                class="option">Newest Character:</span>
                                            <%= statistics.character.newestCharacter %>
                                        </div>
                                        <div class="span4">
                                            <img src="/img/launcher/lightning.png"/> <span
                                                class="option">Most addicted:</span> <%=
                                            statistics.character.mostAddictedCharacter %>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
                        <div class="row-fluid">
                            <div class="span6">
                                <div id="individualRanking" class="widget ng-isolate-scope">
                                    <div class="title-wrapper">
                                        <h3 class="widget-title">Individual ranking</h3>

                                        <div class="clear"></div>
                                    </div>
                                    <div class="wcontainer">

                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Player</th>
                                                <th>Level</th>
                                                <th>K/d</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <% if(players.length === 0) { %>
                                            <tr>
                                                <td colspan="4">There are no players yet.</td>
                                            </tr>
                                            <% } %>
                                            <% for(var i=0; i< players.length; i++) {%>
                                            <tr>
                                                <td>
                                                    <% if(5 > i) { %>
                                                    <span><img src="/img/ranks/<%= i + 1 %>.png"></span>
                                                    <% } else { %>
                                                    <%= i + 1 %>
                                                    <% } %>
                                                </td>
                                                <td><%= players[i].Name %></td>
                                                <td><%= players[i].Level %></td>
                                                <td><%= players[i].Kd %>%</td>
                                            </tr>
                                            <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="span6">
                                <div id="clanRanking" class="widget">
                                    <div class="title-wrapper">
                                        <h3 class="widget-title">Clan ranking</h3>

                                        <div class="clear"></div>
                                    </div>
                                    <div class="wcontainer">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Wins</th>
                                                <th>Loses</th>
                                                <th>Points</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <% if(clans.length === 0) { %>
                                            <tr>
                                                <td colspan="5">There are no clans yet.</td>
                                            </tr>
                                            <% } %>
                                            <% for(var i=0; i< clans.length; i++) {%>
                                            <tr>
                                                <td>
                                                    <% if(i === 0) { %>
                                                    <img src="/img/trophies/gold.png">
                                                    <% } else if(i === 1) { %>
                                                    <img src="/img/trophies/silver.png">
                                                    <% } else if(i === 2) { %>
                                                    <img src="/img/trophies/bronze.png">
                                                    <% } else { %>
                                                    <%= i + 1 %>
                                                    <% } %>
                                                </td>
                                                <td><%= clans[i].Name %></td>
                                                <td><%= clans[i].Wins %></td>
                                                <td><%= clans[i].Losses %></td>
                                                <td><%= clans[i].TotalPoints %></td>
                                            </tr>
                                            <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div> -->
        </div>
    </div>
</div>

</body>
</html>
