@font-face{
	font-family:'star';
	src:url('../fonts/star.eot');
	src:url('../fonts/star.eot#iefix') format('embedded-opentype'),url('../fonts/star.woff') format('woff'),url('../fonts/star.ttf') format('truetype'),url('../fonts/star.svg#star') format('svg');
	font-weight:normal;
	font-style:normal
}

.woocommerce ul.products li.product a img, .woocommerce-page ul.products li.product a img{
	box-shadow: none !important;
}

.woocommerce ul.products li.product h3, .woocommerce-page ul.products li.product h3 {
	padding: 0 !important;
	font-size: 16px !important;
	font-weight: normal !important;
}

.woocommerce .add_to_cart_button, .woocommerce .product_type_variable, .woocommerce .product_type_grouped, .woocommerce a.button{
	position: absolute!important;
	bottom: -40px;
	top: auto!important;
	right: 0px;
}

.woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit, .woocommerce #content input.button, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce-page #respond input#submit, .woocommerce-page #content input.button, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce #respond input#submit:hover, .woocommerce #content input.button:hover, .woocommerce-page a.button:hover, .woocommerce-page button.button:hover, .woocommerce-page input.button:hover, .woocommerce-page #respond input#submit:hover, .woocommerce-page #content input.button:hover, .woocommerce div.product .woocommerce-tabs ul.tabs li a, .woocommerce #content div.product .woocommerce-tabs ul.tabs li a, .woocommerce-page div.product .woocommerce-tabs ul.tabs li a, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a , .woocommerce div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active a {
	transition:all 0.35s ease-in-out !important;
	-moz-transition:all 0.35s ease-in-out !important;
	-webkit-transition:all 0.35s ease-in-out !important;
	-o-transition:all 0.35s ease-in-out !important;
	color: #FFFFFF !important;
	box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset !important;
	-moz-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset !important;
	-webkit-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset !important;
	-o-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset !important;
	text-transform: uppercase !important;
	font-weight:bold !important;
	display: inline-block !important;
	border-radius: 5px 5px 5px 5px !important;
	border:none !important;
	margin-top: 5px !important;
	font-size: 12px !important;
	padding: 12px 20px 12px 20px !important;
	text-shadow: none !important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce #content div.product .woocommerce-tabs ul.tabs li, .woocommerce-page div.product .woocommerce-tabs ul.tabs li, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li, .woocommerce div.product .woocommerce-tabs ul.tabs li.active:before, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active:before, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active:before, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active:before, .woocommerce div.product .woocommerce-tabs ul.tabs li:before, .woocommerce #content div.product .woocommerce-tabs ul.tabs li:before, .woocommerce-page div.product .woocommerce-tabs ul.tabs li:before, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before, .woocommerce div.product .woocommerce-tabs ul.tabs li:before, .woocommerce div.product .woocommerce-tabs ul.tabs li:after, .woocommerce #content div.product .woocommerce-tabs ul.tabs li:before, .woocommerce #content div.product .woocommerce-tabs ul.tabs li:after, .woocommerce-page div.product .woocommerce-tabs ul.tabs li:before, .woocommerce-page div.product .woocommerce-tabs ul.tabs li:after, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after{
	background: none !important;
	box-shadow: none !important;
	border: none !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs:before{
	border-bottom: none !important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs, .woocommerce #content div.product .woocommerce-tabs ul.tabs, .woocommerce-page div.product .woocommerce-tabs ul.tabs, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs, .woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce #content div.product .woocommerce-tabs ul.tabs li, .woocommerce-page div.product .woocommerce-tabs ul.tabs li, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li{
	padding: 0 !important;
	margin: 0;
	margin-right: 5px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active{
	margin-right: 10px;
	
}
.woocommerce .thumbnails{
	margin-left: 0px;
}


.woocommerce .related{
	border-bottom: 3px double rgba(0, 0, 0, 0.2);
}
.woocommerce div.product .woocommerce-tabs{
	padding-top:30px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.description_tab, .woocommerce div.product .woocommerce-tabs ul.tabs li.reviews_tab{
	margin-left:0px !important;
	margin-right:5px !important;
}
.cart-outer{
	float: right;
	margin: 23px 20px 0px 0px;
}
.product-wrap {
	position:relative;
}
.product-wrap .button {
	position:absolute !important;
	bottom: 5px !important;
	right: 5px !important;
	opacity:0;
	
}
div[itemprop="aggregateRating"] .star-rating{
	display:none !important;
}
.product-wrap:hover > a.button{  
	opacity:1;
}
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price{
	color:#999999 !important;
}
.woocommerce span.onsale, .woocommerce-page span.onsale{
	text-shadow:none !important;
}
.product-wrap .icon-shopping-cart{
	font-size:12px;
	margin-right:5px;
	
}
.icon-shopping-cart{
	color: #dbdbdb;
	opacity:0.6;
}

/* Woo commerce */

.cart-notification {
	position: fixed!important;
	right: 0px!important;
	top: 77px!important;
}
.widget_shopping_cart, .woocommerce .cart-notification, .cart-notification{
position: absolute;
right: 0px;
z-index: 100000;
box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
-o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
width: 350px;
padding: 20px;
top:67px;
}
.woocommerce ul.cart_list li:first-child {
border-top: 0px;
}
.woocommerce ul.cart_list li {
border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.woocommerce ul.cart_list li, .woocommerce ul.product_list_widget li, .woocommerce-page ul.cart_list li, .woocommerce-page ul.product_list_widget li {
padding: 20px !important;
}
.woocommerce ul.product_list_widget > li:hover{
background-color:rgba(0, 0, 0, 0.03);
}
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img, .woocommerce-page ul.cart_list li img, .woocommerce-page ul.product_list_widget li img {
float: left !important;
margin-right: 10px !important;
width: 75px !important;
}
.woocommerce ul.product_list_widget li .quantity{
	margin-left: 0;
	width: 100px;
	margin-right: 0;
}
.woocommerce ul.product_list_widget li .quantity *{
	display:inline;
}
.woocommerce .widget_shopping_cart .total, .woocommerce-page .widget_shopping_cart .total{
	padding: 20px 0 20px 0 !important;
	text-align: center;
	font-size: 20px !important;
	border-bottom: 3px double rgba(0, 0, 0, 0.2);
	border-top: 3px double rgba(0, 0, 0, 0.2) !important;
}
.woocommerce .widget_shopping_cart .buttons{
	position:relative;
}
.woocommerce .widget_shopping_cart .buttons a.button{
	position: relative !important;
	top: 0px !important;
	left: 50px;
}
.woocommerce .widget_shopping_cart .buttons a.checkout{
	position: relative !important;
	top: 0px !important;
	left: 60px;
}
.widget_shopping_cart{
	display:none;
}
.cart-notification{
	right: 77px !important;
	top: 0px !important;
	padding: 22px !important;
	position:absolute !important;
	display:none;
}
.cart-outer:hover .widget_shopping_cart, .widget_shopping_cart:hover{
	display:block;
}
.woocommerce .widget_shopping_cart .total span{
	font-size:18px;
	margin-top:10px;
}

.woocommerce .product-wrap .add_to_cart_button, .woocommerce .product-wrap .add_to_cart_button:hover {
    background-image: url("../img/cart.png") !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    height: 35px !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    text-indent: -9999px !important;
    width: 35px !important;
}
.woocommerce .product-wrap .add_to_cart_button.added {
    background-image: url("../img/tick.png") !important;
}
.woocommerce .product-wrap .added_to_cart{
	display:none;
}
.woocommerce .star-rating, .woocommerce-page .star-rating{
	width: 6.3em !important;
}

.woocommerce .star-rating:before, .woocommerce-page .star-rating:before{
	font-size:14px !important;
}


.woocommerce .product-wrap .add_to_cart_button.added:before{
	background: none !important;
}
.cart-menu-wrap {
	text-align: center;
	padding-bottom: 26px;
}


.cart-icon-wrap *{
	display: inline;

}
.icon-shopping-cart{
		font-size:20px;
}
.cart-wrap{
	margin-left: 2px;
	padding: 2px 6px 2px 5px;
	border-radius: 100px;
	color: #40434e;
	font-weight: 700;
}

.woocommerce div.product p.price span, .woocommerce div.product p.price{
	font-size:26px !important;
}
.woocommerce .quantity input.qty, .woocommerce #content .quantity input.qty, .woocommerce-page .quantity input.qty, .woocommerce-page #content .quantity input.qty{
	height: 40px !important;
	margin-bottom:0px !important;
}
.woocommerce .quantity .minus, .woocommerce #content .quantity .minus, .woocommerce-page .quantity .minus, .woocommerce-page #content .quantity .minus{
	height: 20px !important;
}
.woocommerce .quantity .plus, .woocommerce #content .quantity .plus, .woocommerce-page .quantity .plus, .woocommerce-page #content .quantity .plus{
	height: 22px !important;
}
.woocommerce-message, .woocommerce-error, .woocommerce-info{
	border-top: 0 !important;
	text-shadow: none !important;
	color:#ffffff !important;
	box-shadow: none !important;
}
.woocommerce-message:before, .woocommerce-error:before, .woocommerce-info:before{
	background-color: transparent !important;
	box-shadow:none !important;

}
.woocommerce-message a.button, .woocommerce-error a.button, .woocommerce-info a.button, .woocommerce-message a.button:hover, .woocommerce-error a.button:hover, .woocommerce-info a.button:hover{
	border: 0 !important;
	right: 0;
	bottom: 2px;
	color: #ffffff !important;
}
.woocommerce label{
	background: none;
	text-shadow: none;
	margin-top: 4px;
}
.cart_totals > table{
	float:right;
}
.woocommerce table.cart td.actions .button.checkout-button{
	margin-left:10px;
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea, .woocommerce-page form .form-row input.input-text, .woocommerce-page form .form-row textarea{
	height:auto !important;
	padding:15px !important;
}
.woocommerce #payment ul.payment_methods li input, .woocommerce-page #payment ul.payment_methods li input{
	display: inline !important;
margin-right: 5px !important;
margin-top: -5px !important;
}

.woocommerce #payment ul.payment_methods label{
	display: inline;
}
.woocommerce #payment ul.payment_methods li, .woocommerce-page #payment ul.payment_methods li{
	margin: 10px 0px 20px 10px !important;
}

.page .woocommerce header{
	background-color: transparent !important;
}
.woocommerce-page .page{
	padding-bottom:50px;
}

.woocommerce .products .star-rating, .woocommerce-page .products .star-rating, .woocommerce .star-rating, .woocommerce-page .star-rating {
	height:20px !important;
}
.woocommerce .add_review a.button{
	position: relative !important;
top: 0px !important;
}

.woocommerce .span8 ul.products li.product, .woocommerce-page .span8  ul.products li.product{
	width:29.6% !important;
}

.woocommerce ul.product_list_widget li, .woocommerce-page ul.product_list_widget li{
	padding:20px 0px 20px 0px !important;
}
.woocommerce ul.product_list_widget li:first-child, .woocommerce-page ul.product_list_widget li:first-child{
	padding-top: 0px !important;
}
.woocommerce ul.product_list_widget li:hover, .woocommerce-page ul.product_list_widget li:hover{
	background: none !important;
}

.woocommerce .price_slider_amount .price_label{
	float: right;
	padding: 5px 10px 5px 10px;
	background: rgba(0, 0, 0, 0.02);
	margin-top: 15px;
}
.woocommerce .price_slider_amount button, .woocommerce .price_slider_amount button:focus, .woocommerce .price_slider_amount button:active{
	margin-top:10px !important;
}

.woocommerce .price_slider_amount button:focus, .woocommerce .price_slider_amount button:active{
	outline:none;
	outline: 0;     
	outline-style:none;     
	outline-width:0; 
}

.woocommerce .price_slider_amount .price_label span{
	display:inline;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-range{
	box-shadow: none !important;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle{
	background: #ccc !important;
	width: 15px !important;
	height: 15px !important;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3) !important;
	box-shadow: 0 1px 1px rgba(0,0,0,0.3) !important;
	border:none !important;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content, .woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content{
	background:#eee !important;
}
.woocommerce ul.products li.product > a, .woocommerce-page ul.products li.product > a{
	display:block;
	position:relative;
}
.woocommerce .products .star-rating, .woocommerce-page .products .star-rating{
	position: absolute;
	right: 0px;
	top: 15px;
}
#sidebar .woocommerce .star-rating span, #sidebar .woocommerce-page .star-rating span, #sidebar .woocommerce .star-rating:before, #sidebar .woocommerce-page .star-rating:before {
	font-size:14px !important;
}
#sidebar .woocommerce .star-rating, #sidebar .woocommerce-page .star-rating{
	margin: 10px 0px 0px 0px !important;
}

.woocommerce ul.products li.product h3, .woocommerce-page ul.products li.product h3{
	color:#666 !important;
}
.woocommerce div.product p.price, .price del span.amount{
	color:#999 !important;
	font-weight:normal !important;
	font-size:14px !important;
}
.woocommerce div.product p.price, .price span.amount{
	font-weight: bold;
	font-size: 16px;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
	margin: 0 2.6% 2.992em 0 !important;
	padding: 1% !important;
	position: relative;
	width: 21.05% !important;
	background:white;
}
.woocommerce .cart-collaterals .cross-sells ul.products li, .woocommerce-page .cart-collaterals .cross-sells ul.products li {
	width: 48% !important;
}
.woocommerce ul.products li.product.last, .woocommerce-page ul.products li.product.last{
	margin-right:0px !important;
}
.woocommerce .showcoupon{
	color:rgba(0, 0, 0, 0.5) !important;
}
.woocommerce #coupon_code{
	height:40px !important;
}
.woocommerce .star-rating span, .woocommerce-page .star-rating span, .woocommerce .star-rating:before, .woocommerce-page .star-rating:before {
	font-weight:normal;
}
.woocommerce .page-title{
	display:none;
}

.woocommerce .products ul:after, .woocommerce-page .products ul:after, .woocommerce ul.products:after, .woocommerce-page ul.products:after {
    content: "";
    display: block;
    clear: both;
}

.woocommerce .products ul, .woocommerce-page .products ul, .woocommerce ul.products, .woocommerce-page ul.products {
    margin: 0px 0px 1em;
    padding: 0px;
    list-style: none outside none;
    clear: both;
}
.woocommerce .span8 ul.products li.product, .woocommerce-page .span8 ul.products li.product {
    width: 29.6% !important;
}
.woocommerce ul.products li.first, .woocommerce-page ul.products li.first {
    clear: both;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    float: left;
    margin: 0px 3.8% 2.992em 0px;
    padding: 0px;
    position: relative;
    width: 22.05%;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    margin: 0px 2.6% 2.992em 0px !important;
    padding: 1% !important;
    position: relative;
    width: 21.05% !important;
    background: none repeat scroll 0% 0% #FFF;
}
.woocommerce .products ul li, .woocommerce-page .products ul li, .woocommerce ul.products li, .woocommerce-page ul.products li {
    list-style: none outside none;
}
.woocommerce .page-title {
    display: none;
}
.woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count {
    float: left;
    margin: 0px 0px 1em;
}
.woocommerce .product-wrap .add_to_cart_button, .woocommerce .product-wrap .add_to_cart_button:hover {
    background-image: url("../img/cart.png") !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    border-radius: 0px !important;
    height: 35px !important;
    padding: 0px !important;
    text-indent: -9999px !important;
    width: 35px !important;
}
.woocommerce ul.products li.product a, .woocommerce-page ul.products li.product a {
    text-decoration: none;
}
.woocommerce a.button:hover, .woocommerce-page a.button:hover, .woocommerce button.button:hover, .woocommerce-page button.button:hover, .woocommerce input.button:hover, .woocommerce-page input.button:hover, .woocommerce #respond input#submit:hover, .woocommerce-page #respond input#submit:hover, .woocommerce #content input.button:hover, .woocommerce-page #content input.button:hover {
    background: -moz-linear-gradient(center top , #F7F6F7 0px, #D4CDD2 100%) repeat scroll 0% 0% transparent;
    text-decoration: none;
}
.product-wrap:hover > a.button {
    opacity: 1;
}
.woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit, .woocommerce #content input.button, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce-page #respond input#submit, .woocommerce-page #content input.button, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce #respond input#submit:hover, .woocommerce #content input.button:hover, .woocommerce-page a.button:hover, .woocommerce-page button.button:hover, .woocommerce-page input.button:hover, .woocommerce-page #respond input#submit:hover, .woocommerce-page #content input.button:hover, .woocommerce div.product .woocommerce-tabs ul.tabs li a, .woocommerce #content div.product .woocommerce-tabs ul.tabs li a, .woocommerce-page div.product .woocommerce-tabs ul.tabs li a, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a, .woocommerce div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active a {
    transition: all 0.35s ease-in-out 0s !important;
    color: rgb(255, 255, 255) !important;
    box-shadow: 0px -3px rgba(0, 0, 0, 0.1) inset !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
    display: inline-block !important;
    border-radius: 5px !important;
    border: medium none !important;
    margin-top: 5px !important;
    font-size: 12px !important;
    padding: 12px 20px !important;
    text-shadow: none !important;
}
.woocommerce-page .product-wrap a.button {
    background-color: rgb(255, 91, 91) !important;
}
.woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce #respond input#submit:hover, .woocommerce #content input.button:hover, .woocommerce-page a.button:hover, .woocommerce-page button.button:hover, .woocommerce-page input.button:hover, .woocommerce-page #respond input#submit:hover, .woocommerce-page #content input.button:hover, .woocommerce div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce table.cart td.actions .button.checkout-button {
    background: none repeat scroll 0% 0% rgb(209, 100, 40) !important;
}
.woocommerce a.button, .woocommerce-page a.button, .woocommerce button.button, .woocommerce-page button.button, .woocommerce input.button, .woocommerce-page input.button, .woocommerce #respond input#submit, .woocommerce-page #respond input#submit, .woocommerce #content input.button, .woocommerce-page #content input.button {
    font-size: 100%;
    margin: 0px;
    line-height: 1em;
    cursor: pointer;
    position: relative;
    font-family: inherit;
    overflow: visible;
    padding: 6px 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 2px;
    left: auto;
    color: #5E5E5E;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
    border: 1px solid #C8BFC6;
    background: -moz-linear-gradient(center top , #F7F6F7 0px, #E0DADF 100%) repeat scroll 0% 0% transparent;
    white-space: nowrap;
    display: inline-block;
    box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.075) inset, 0px 1px 0px rgba(255, 255, 255, 0.3) inset, 0px 1px 2px rgba(0, 0, 0, 0.1);
}
.woocommerce .add_to_cart_button, .woocommerce .product_type_variable, .woocommerce .product_type_grouped, .woocommerce a.button {
    position: absolute !important;
    bottom: -40px;
    top: auto !important;
    right: 0px;
}
.woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit, .woocommerce #content input.button, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce-page #respond input#submit, .woocommerce-page #content input.button, .woocommerce div.product .woocommerce-tabs ul.tabs li a, .woocommerce #content div.product .woocommerce-tabs ul.tabs li a, .woocommerce-page div.product .woocommerce-tabs ul.tabs li a, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a {
    background: none repeat scroll 0% 0% rgb(255, 91, 91) !important;
}
.product-wrap .button {
    position: absolute !important;
    bottom: 5px !important;
    right: 5px !important;
    opacity: 0;
}
.woocommerce .products ul, .woocommerce-page .products ul, .woocommerce ul.products, .woocommerce-page ul.products {
    list-style: none outside none;
}
.woocommerce-page .product-wrap a.button:hover {
    background-color: rgb(209, 100, 40) !important;
}
.woocommerce ul.products li.product .onsale, .woocommerce-page ul.products li.product .onsale {
    top: 0px;
    right: 0px;
    left: auto;
    margin: -6px -6px 0px 0px;
}
.woocommerce span.onsale, .woocommerce-page span.onsale {
    min-height: 32px;
    min-width: 32px;
    padding: 4px;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    line-height: 32px;
    top: 6px;
    left: 6px;
    margin: 0px;
    border-radius: 20px;
    background: -moz-linear-gradient(center top , #A2C094 0px, #85AD74 100%) repeat scroll 0% 0% transparent;
    text-shadow: 0px -1px 0px #85AD74;
    color: #FFF;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3) inset, 0px -1px 0px rgba(0, 0, 0, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.2);
}
.woocommerce span.onsale, .woocommerce-page span.onsale {
    text-shadow: none !important;
}
.woocommerce span.onsale, .woocommerce-page span.onsale, .woocommerce-message, .woocommerce-error, .woocommerce-info, .woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-range {
    background: none repeat scroll 0% 0% rgb(255, 91, 91) !important;
}
.woocommerce ul.products li.product a img, .woocommerce-page ul.products li.product a img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0px 0px 8px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out 0s;
}
.woocommerce ul.products li.product a img, .woocommerce-page ul.products li.product a img {
    box-shadow: none !important;
}
img {
    width: auto;
    height: auto;
    vertical-align: middle;
    border: 0px none;
    max-width: 100%;
}
.woocommerce .star-rating{
	position: relative;
}
.woocommerce .star-rating:before, .woocommerce-page .star-rating:before {
    content: "SSSSS";
    color: #FF5B5B;
    float: left;
    top: 0px;
    left: 0px;
}
.woocommerce .star-rating span, .woocommerce-page .star-rating span, .woocommerce .star-rating:before, .woocommerce-page .star-rating:before {
    font-weight: normal;
}
.woocommerce .star-rating:before, .woocommerce-page .star-rating:before {
    font-size: 14px !important;
}
.woocommerce .star-rating span, .woocommerce-page .star-rating span {
    overflow: hidden;
    float: left;
    top: 0px;
    left: 0px;
    padding-top: 1.5em;
}
.woocommerce .star-rating, .woocommerce-page .star-rating {
    line-height: 1em;
    font-size: 1em;
    font-family: 'star';
}
.woocommerce .star-rating span, .woocommerce-page .star-rating span {
    overflow: hidden;
    display: none;
    float: left;
    top: 0px;
    left: 0px;
    position: absolute;
    padding-top: 1.5em;
}
.woocommerce nav.woocommerce-pagination ul, .woocommerce-page nav.woocommerce-pagination ul, .woocommerce #content nav.woocommerce-pagination ul, .woocommerce-page #content nav.woocommerce-pagination ul {
    display: inline-block;
    white-space: nowrap;
    padding: 0px;
    clear: both;
    border-width: 1px 0px 1px 1px;
    border-style: solid none solid solid;
    border-color: #E0DADF -moz-use-text-color #E0DADF #E0DADF;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    margin: 1px;
}
.woocommerce nav.woocommerce-pagination, .woocommerce-page nav.woocommerce-pagination, .woocommerce #content nav.woocommerce-pagination, .woocommerce-page #content nav.woocommerce-pagination {
    text-align: center;
}
.woocommerce nav.woocommerce-pagination ul li, .woocommerce-page nav.woocommerce-pagination ul li, .woocommerce #content nav.woocommerce-pagination ul li, .woocommerce-page #content nav.woocommerce-pagination ul li {
    border-right: 1px solid #E0DADF;
    padding: 0px;
    margin: 0px;
    float: left;
    display: inline;
    overflow: hidden;
}
.woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce-page nav.woocommerce-pagination ul li span.current, .woocommerce #content nav.woocommerce-pagination ul li span.current, .woocommerce-page #content nav.woocommerce-pagination ul li span.current, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce-page nav.woocommerce-pagination ul li a:hover, .woocommerce #content nav.woocommerce-pagination ul li a:hover, .woocommerce-page #content nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce-page nav.woocommerce-pagination ul li a:focus, .woocommerce #content nav.woocommerce-pagination ul li a:focus, .woocommerce-page #content nav.woocommerce-pagination ul li a:focus {
    background: none repeat scroll 0% 0% #F7F6F7;
    color: #998896;
}
.woocommerce nav.woocommerce-pagination ul li a, .woocommerce-page nav.woocommerce-pagination ul li a, .woocommerce #content nav.woocommerce-pagination ul li a, .woocommerce-page #content nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span, .woocommerce-page nav.woocommerce-pagination ul li span, .woocommerce #content nav.woocommerce-pagination ul li span, .woocommerce-page #content nav.woocommerce-pagination ul li span {
    margin: 0px;
    text-decoration: none;
    line-height: 1em;
    font-size: 1em;
    font-weight: normal;
    padding: 0.5em;
    min-width: 1em;
    display: block;
}
.product_list_widget .star-rating:before{
	content: "SSSSS";
	color: #666;
	float: left;
	top: 0px;
	left: 83px;
	position: absolute;
}
.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
    margin: 0px 0px 1em;
    float: right;
}