<breadcrumbs ng-attr-title="breadcrumbs.title" ng-attr-links="breadcrumbs.links"></breadcrumbs>

<div class="page normal-page container">

    <div id="editAccount" class="row">
        <div class="span8">
            <div class="widget">
                <div class="title-wrapper">
                    <h3 class="widget-title">Edit account</h3>

                    <div class="clear"></div>
                </div>
                <div class="wcontainer">

                    <div class="alert alert-info">
                        If you don't want to change your password, please leave both fields empty.
                    </div>

                    <form name="editForm" ng-model="editForm">
                        <div class="control-group">
                            <div class="row-fluid">
                                <div class="span11">
                                    <label class="control-label" for="email">Email</label>

                                    <div class="controls">
                                        <input type="email" name="email" ng-model="editAccount.email"
                                               ng-change="onEmailChange()" id="email" placeholder="Email"
                                               required ng-minlength="5"
                                               ng-maxlength="50">

                                        <div ng-show="(editForm.email.$dirty || submitted) && (!editForm.email.$valid)"
                                             class="alert alert-error">
                                            Your email must be a valid email adress and may only contain 5 to 50
                                            characters.
                                        </div>

                                        <div ng-show="(editForm.email.$dirty || submitted) && (editForm.email.$valid && !isEmailUnique)"
                                             class="alert alert-error">
                                            Someone already registered with this email address.
                                        </div>
                                    </div>
                                </div>
                                <div class="span1">
                                    <valid ng-attr-status="(!editForm.email.$dirty && !submitted) || (editForm.email.$valid && isEmailUnique)"></valid>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="row-fluid">
                                <div class="span11">
                                    <label class="control-label" for="password">Password</label>

                                    <div class="controls">
                                        <input ng-change="onPasswordChange()" type="password" name="password" ng-model="editAccount.password"
                                               id="password" placeholder="Password">

                                        <div ng-show="!isValidPassword"
                                             class="alert alert-error">
                                            Your password must be between 5 and 20 characters long.
                                        </div>
                                    </div>
                                </div>
                                <div class="span1">
                                    <valid ng-attr-status="isValidPassword"></valid>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="row-fluid">
                                <div class="span11">
                                    <label class="control-label" for="repeatPassword">Repeat password</label>

                                    <div class="controls">
                                        <input type="password" name="repeatPassword" ng-model="editAccount.repeatPassword"
                                               id="repeatPassword" ng-change="onPasswordRepeatChange()"
                                               placeholder="Repeat password">

                                        <div ng-show="!isValidRepeatPassword || !hasMatchingPasswords"
                                             class="alert alert-error">
                                            Your password must be between 5 and 20 characters and should match your
                                            other
                                            password.
                                        </div>
                                    </div>
                                </div>
                                <div class="span1">
                                    <valid ng-attr-status="isValidRepeatPassword && hasMatchingPasswords"></valid>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="row-fluid">
                                <div class="span11">
                                    <label class="control-label">Avatar</label>

                                    <div class="controls">
                                        <input id="avatarFile" type="file" on-file-upload-change="onAvatarChange" hidden />
                                        <button ng-click="openAvatarSelect()" class="btn btn-default">{{avatarFileName}}</button>

                                        <div ng-show="!isValidAvatar"
                                             class="alert alert-error">
                                            Your avatar should have one of the following extensions: "PNG, JPG, JPEG, GIF" and the size can't be greater than 2.5MB.
                                        </div>
                                    </div>
                                </div>
                                <div class="span1">
                                    <valid ng-attr-status="isValidAvatar"></valid>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button id="updateAccount" ng-click="updateAccount()" type="button" class="button-small" ng-disabled="isUpdatingAccount">Edit account</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="span4">
            <account></account>
       <!--     <div class="widget">
                <div class="title-wrapper">
                    <h3 class="widget-title">Actions</h3>

                    <div class="clear"></div>
                </div>
                <div class="wcontainer">
                    <a href="/account/characters" class="button-extrasmall btn-block"><i class="fa fa-group"></i> View my characters</a>
                </div>
            </div>-->
            <statistics></statistics>
        </div>
        <link href="/css/account.css" rel="stylesheet" />
    </div>
</div>