<div class="page normal-page container">
    <div id="character">
        <characterHeader ng-attr-tab="matches"></characterHeader>


        <div id="main" class="row-fluid">
            <div id="matches" class="block_tabs ui-tabs ui-widget ui-widget-content ui-corner-all">
                <ul id="myTab" class="nav cf nav-tabs ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                    <li class="ui-state-default ui-corner-top ui-tabs-active ui-state-active"><a href="#all" class="ui-tabs-anchor" data-toggle="tab">All</a></li>
                    <li class="ui-state-default ui-corner-top"><a href="#clanwar" class="ui-tabs-anchor" data-toggle="tab">Clan war</a></li>
                    <li class="ui-state-default ui-corner-top"><a href="#teamdeathmatch" class="ui-tabs-anchor" data-toggle="tab">Team deathmatch</a></li>
                    <li class="ui-state-default ui-corner-top"><a href="#deathmatch" class="ui-tabs-anchor" data-toggle="tab">Deathmatch</a></li>
                    <li class="ui-state-default ui-corner-top"><a href="#survival" class="ui-tabs-anchor" data-toggle="tab">Survival</a></li>
                    <li class="ui-state-default ui-corner-top"><a href="#quest" class="ui-tabs-anchor" data-toggle="tab">Quest</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="all">
                        <div style="display: block;" role="tabpanel" class="tab tab-content ui-tabs-panel ui-widget-content ui-corner-bottom widget">
                            <ul class="clanwar-list">
                                <li>
                                    <img src="/img/maps/mansion.png" />


                                    <div class="info">
                                        <div class="mapName">Mansion</div>

                                        <div class="scores draw">0:0</div>

                                        <ul class="details">
                                            <li>Players: 8</li>
                                            <li>Game length: 16 minutes</li>
                                            <li>Date: November 8, 6:15 PM, 2015</li>
                                        </ul>

                                        <div class="clear"></div>
                                    </div>

                                    <div class="clear"></div>
                                </li>
                                <li>
                                    <img src="/img/maps/dungeon.png" />


                                    <div class="info">
                                        <div class="mapName">Dungeon</div>

                                        <ul class="details">
                                            <li>Players: 8</li>
                                            <li>Game length: 16 minutes</li>
                                            <li>Date: November 8, 6:15 PM, 2015</li>
                                        </ul>

                                        <div class="scoreBoard">
                                            <div class="scores draw">0:0</div>
                                        </div>

                                        <div class="clear"></div>
                                    </div>

                                    <div class="clear"></div>
                                </li>
                                <li>
                                    <img src="/img/maps/town.png" />


                                    <div class="info">
                                        <div class="mapName">Town</div>

                                        <ul class="details">
                                            <li>Players: 8</li>
                                            <li>Game length: 16 minutes</li>
                                            <li>Date: November 8, 6:15 PM, 2015</li>
                                        </ul>

                                        <div class="scoreBoard">
                                            <div class="scores draw">0:0</div>
                                        </div>

                                        <div class="clear"></div>
                                    </div>

                                    <div class="clear"></div>
                                </li>
                                <li>
                                    <img src="/img/maps/battle-arena.png" />


                                    <div class="info">
                                        <div class="mapName">Battle arena</div>

                                        <div class="scores draw">0:0</div>

                                        <ul class="details">
                                            <li>Players: 8</li>
                                            <li>Game length: 16 minutes</li>
                                            <li>Date: November 8, 6:15 PM, 2015</li>
                                        </ul>

                                        <div class="clear"></div>
                                    </div>

                                    <div class="clear"></div>
                                </li>
                                <li>
                                    <img src="/img/maps/dungeon.png" />


                                    <div class="info">
                                        <div class="mapName">Dungeon</div>

                                        <ul class="details">
                                            <li>Players: 8</li>
                                            <li>Game length: 16 minutes</li>
                                            <li>Date: November 8, 6:15 PM, 2015</li>
                                        </ul>

                                        <div class="scoreBoard">
                                            <div class="scores draw">0:0</div>
                                        </div>

                                        <div class="clear"></div>
                                    </div>

                                    <div class="clear"></div>
                                </li>
                                <li>
                                    <img src="/img/maps/town.png" />


                                    <div class="info">
                                        <div class="mapName">Town</div>

                                        <ul class="details">
                                            <li>Players: 8</li>
                                            <li>Game length: 16 minutes</li>
                                            <li>Date: November 8, 6:15 PM, 2015</li>
                                        </ul>

                                        <div class="scoreBoard">
                                            <div class="scores draw">0:0</div>
                                        </div>

                                        <div class="clear"></div>
                                    </div>

                                    <div class="clear"></div>
                                </li>
                                <li>
                                    <img src="/img/maps/stairway.png" />


                                    <div class="info">
                                        <div class="mapName">Stairway</div>

                                        <div class="scores draw">0:0</div>

                                        <ul class="details">
                                            <li>Players: 8</li>
                                            <li>Game length: 16 minutes</li>
                                            <li>Date: November 8, 6:15 PM, 2015</li>
                                        </ul>

                                        <div class="clear"></div>
                                    </div>

                                    <div class="clear"></div>
                                </li>
                                <li>
                                    <img src="/img/maps/dungeon.png" />


                                    <div class="info">
                                        <div class="mapName">Dungeon</div>

                                        <ul class="details">
                                            <li>Players: 8</li>
                                            <li>Game length: 16 minutes</li>
                                            <li>Date: November 8, 6:15 PM, 2015</li>
                                        </ul>

                                        <div class="scoreBoard">
                                            <div class="scores draw">0:0</div>
                                        </div>

                                        <div class="clear"></div>
                                    </div>

                                    <div class="clear"></div>
                                </li>
                                <li>
                                    <img src="/img/maps/stairway.png" />


                                    <div class="info">
                                        <div class="mapName">Stairway</div>

                                        <ul class="details">
                                            <li>Players: 8</li>
                                            <li>Game length: 16 minutes</li>
                                            <li>Date: November 8, 6:15 PM, 2015</li>
                                        </ul>

                                        <div class="scoreBoard">
                                            <div class="scores draw">0:0</div>
                                        </div>

                                        <div class="clear"></div>
                                    </div>

                                    <div class="clear"></div>
                                </li>
                            </ul>
                            <div class="clear"></div>
                            <div class="pagination pull-right">
                                <ul>
                                    <li>
                                    </li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#" class="inactive">2</a></li>
                                    <li><a class="page-selector" href="#">&#187;</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="clanwar">
                        <div aria-hidden="false" aria-expanded="true" style="display: block;" role="tabpanel" class="tab tab-content ui-tabs-panel ui-widget-content ui-corner-bottom">
                            <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="teamdeathmatch">
                        <div aria-hidden="false" aria-expanded="true" style="display: block;" role="tabpanel" class="tab tab-content ui-tabs-panel ui-widget-content ui-corner-bottom">
                            team deatmatch
                        </div>
                    </div>
                    <div class="tab-pane fade" id="deathmatch">
                        <div aria-hidden="false" aria-expanded="true" style="display: block;" role="tabpanel" class="tab tab-content ui-tabs-panel ui-widget-content ui-corner-bottom">
                            deathmatch
                        </div>
                    </div>
                    <div class="tab-pane fade" id="survival">
                        <div aria-hidden="false" aria-expanded="true" style="display: block;" role="tabpanel" class="tab tab-content ui-tabs-panel ui-widget-content ui-corner-bottom">
                            <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="quest">
                        <div aria-hidden="false" aria-expanded="true" style="display: block;" role="tabpanel" class="tab tab-content ui-tabs-panel ui-widget-content ui-corner-bottom">
                            <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <link rel="stylesheet" type="text/css" href="/css/characterMatches.css" />

<script>
    alert('This page is just a design, it has no functionality yet!');
    jQuery('#myTab a').click(function (e) {
        e.preventDefault();
        jQuery(this).tab('show');
    })
</script>
</div>