<div class="page normal-page container">
    <div id="character">

        <characterHeader ng-attr-tab="home"></characterHeader>

        <div id="main" class="row-fluid">
            <div class="span8">
                <div class="widget">
                    <div class="title-wrapper">
                        <h3 class="widget-title">About me</h3>

                        <div class="clear"></div>
                    </div>
                    <div class="wcontainer">
                        <div class="introduction">
                            <div id="aboutText" ng-if="about.text && !isOwner" ng-bind-html="renderHtml(about.text)"
                                 class="introductionText"></div>
                            <div ng-show="!about.text && !isOwner">This user doesn't have an about me yet.</div>
                            <textarea ng-if="isOwner" ui-tinymce="tinymceOptions" ng-model="about.text"></textarea>

                            <div id="aboutAlert" class="alert alert-success introductionAlert">
                                About me has been saved!
                            </div>
                        </div>
                    </div>
                </div>

                <div id="lastMatches" class="widget">
                    <div class="title-wrapper">
                        <h3 class="widget-title">Last matches</h3>

                        <div class="clear"></div>
                    </div>
                    <div class="wcontainer">
                        <ul class="clanwar-list">
                            <li ng-if="matches.length === 0">
                                There are no matches yet.
                            </li>
                            <li ng-repeat="match in matches">
                                <div class="map">
                                    <img src="/img/maps/no-preview.png" alt="Unknown"/>
                                </div>
                                <div class="info">
                                    <div class="mapName">(Unknown)</div>
                                    <div class="title">Unknown</div>
                                    <div class="win">Unknown</div>
                                    <hr/>
                                    <div class="scores draw">{{match.Kills}}:{{match.Deaths}}</div>
                                </div>
                                <div class="clear"></div>
                            </li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>

                <div id="comments" class="comment-form">
                    <h2>One Comment</h2>
                    <ul class="comment-list">
                        <li ng-repeat="comment in comments" class="comment">
                            <div class="wcontainer">
                                <img alt="Avatar"
                                     ng-src="{{comment.Account.AvatarUrl}}">

                                <div class="comment-body">
                                    <div class="comment-author"><span class="comment-info">{{comment.Account.Name}}</span>
                                    </div>
                                    <i>
                                        <small>{{comment.Date}}</small>
                                    </i><br>

                                    <p>
                                        {{comment.Comment}}
                                    </p>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </li>
                    </ul>

                    <button id="loadMore" ng-class="{loading : isRetrievingComments}" ng-click="loadMoreComments()"
                            ng-disabled="!hasCommentsLeft || isRetrievingComments"
                            class="button-small btn-block nonLoading">Load more <i class="fa fa-plus"></i></button>

                    <div id="respond" ng-show="isLoggedIn">
                        <h2>Leave a comment</h2>

                        <div class="formcontainer">
                            <form id="commentform" class="contact comment-form">
                                <div id="comment-status"></div>
                                <!-- #form-section-url .form-section -->
                                <div id="form-section-comment" class="form-section input-prepend">
                                    <span class="add-on"><i class="icon-comment"></i></span>
                                    <textarea placeholder="Your message*" ng-model="comment" id="comment" name="comment"
                                              cols="45" rows="8"
                                              tabindex="6"></textarea>
                                </div>
                                <!-- #form-section-comment .form-section -->
                                <div class="form-submit">
                                    <button id="submit" ng-class="{'loading' : isSubmittingComment}"
                                            ng-click="addComment()" name="submit" class="button-small button-green"
                                            tabindex="7" type="button">
                                        Submit comment
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="span4">
                <div id="statistics" class="widget">
                    <div class="title-wrapper">
                        <h3 class="widget-title">Statistics</h3>

                        <div class="clear"></div>
                    </div>
                    <div class="wcontainer">
                        <ul>
                            <li>
                                <span class="subject">Username:</span> <span class="detail">{{character.Name}}</span>
                            </li>
                            <li>
                                <span class="subject">Kills:</span> <span class="detail">{{character.KillCount}}</span>
                            </li>
                            <li>
                                <span class="subject">Deaths:</span> <span
                                    class="detail">{{character.DeathCount}}</span>
                            </li>
                            <li>
                                <span class="subject">K/d:</span> <span class="detail">{{character.Kd}}%</span>
                            </li>
                            <li>
                                <span class="subject">Joined on:</span> <span
                                    class="detail">{{character.RegDate}}</span>
                            </li>
                            <li>
                                <span class="subject">Last online:</span> <span
                                    class="detail">{{character.LastTime}}</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div id="actions" ng-if="isOwner" class="widget">
                    <div class="title-wrapper">
                        <h3 class="widget-title">Actions</h3>

                        <div class="clear"></div>
                    </div>
                    <div class="wcontainer">
                        <button id="btnGender" ng-click="openGenderModal()" class="button-extrasmall btn-block">Change
                            gender
                        </button>
                    </div>
                </div>

                <div id="skills" class="widget">
                    <div class="title-wrapper">
                        <h3 class="widget-title">Skilss</h3>

                        <div class="clear"></div>
                    </div>
                    <div class="wcontainer">
                        <div ng-if="skills.length === 0">No skills yet.</div>
                        <div class="skill" ng-repeat="characterSkill in skills">
                            <i class="fa fa-remove" ng-click="openRemoveSkillModal(characterSkill)"></i>
                            <div class="name">{{characterSkill.Skill}}</div>
                        </div>

                        <div class="clear"></div>

                            <button id="addSkill" ng-if="isOwner" ng-click="openSkillModal()"
                                    class="btn btn-xs btn-default btn-block">Add skill
                            </button>

                        <div class="clear"></div>
                    </div>
                </div>

                <div id="latestFriends" class="widget">
                    <div class="title-wrapper">
                        <h3 class="widget-title">Friends</h3>

                        <div class="clear"></div>
                    </div>
                    <div class="wcontainer">
                        <ul>
                            <li ng-if="friends.length === 0">
                                This player doesn't have any friends yet.
                            </li>
                            <li ng-repeat="friend in friends">
                                <a ng-href="/character/view/{{friend.Cid}}">
                                    <img ng-src="{{friend.AvatarUrl}}"
                                         alt="Avatar"/>

                                    <div class="username">{{friend.Name}} <span class="clan">({{friend.Clan}})</span>
                                    </div>
                                    <div class="clear"></div>
                                </a>
                            </li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>

                <div id="clanwar" class="widget">
                    <div class="title-wrapper">
                        <h3 class="widget-title">Clan wars</h3>

                        <div class="clear"></div>
                    </div>
                    <div class="wcontainer">
                        <ul class="clanwar-list">
                            <li ng-if="clanwars.length === 0" class="clanwar-item game-2">
                                <span>There are no clanwars yet.</span>
                            </li>
                            <li ng-repeat="clanwar in clanwars" class="clanwar-item game-2">
                                <a ng-href="/clan/view/{{clanwar.HasWinningClan ? clanwar.LoserClid : clanwar.WinnerClid}}">
                                    <div class="wrap">
                                        <div ng-if="clanwar.HasWinningClan" class="scores win">
                                            {{clanwar.RoundWins}}:{{clanwar.RoundLosses}}
                                        </div>
                                        <div ng-if="!clanwar.HasWinningClan" class="scores lose">
                                            {{clanwar.RoundLosses}}:{{clanwar.RoundWins}}
                                        </div>
                                        <div class="match-wrap">
                                            <img ng-src="{{clanwar.HasWinningClan ? clanwar.LoserClan.EmblemUrl : clanwar.WinnerClan.EmblemUrl}}" class="clan1img">
                                            <!--<div class="home-team"></div>-->
                                            <span class="vs">vs.</span>

                                            <div class="opponent-team">
                                                {{clanwar.HasWinningClan ? clanwar.LoserClan.Name :
                                                clanwar.WinnerClan.Name}}
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="date">{{clanwar.RegDate}}</div>
                                        <div class="players">
                                            <ul>
                                                <li ng-if="clanwar.HasWinningClan ? clanwar.LoserMembers.length === 0 : clanwar.WinnerMembers.length === 0">
                                                    No players.
                                                </li>
                                                <li ng-repeat="player in clanwar.HasWinningClan ? clanwar.LoserMembers : clanwar.WinnerMembers">
                                                    <div class="player"><a ng-href="/character/view/{{player.Cid}}">{{player.Name}}</a>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>

                <div id="levelUp" class="widget">
                    <div class="title-wrapper">
                        <h3 class="widget-title">Level ups</h3>

                        <div class="clear"></div>
                    </div>
                    <div class="wcontainer">
                        <ul>
                            <li ng-if="levels.length === 0">
                                No level ups yet.
                            </li>
                            <li ng-repeat="characterLevel in levels">
                                <div class="level">{{characterLevel.Level}}</div>
                                <div class="arrow"></div>
                                <div class="clear"></div>
                                <div class="date">
                                    <span class="info">Became level {{characterLevel.Level}} on {{characterLevel.Date}}.</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <modal id="genderModal" title="Change gender">
        <p>
            Tired of your current gender? Always wanted to know how it feels like to be on the other side?
            <br/>
            Well look no further! You can now become the transvestite you always wanted to be!
        </p>

        <p>Simply press this button below to see some awesome magic stuff. Don't worry, you can always go back. We are
            that kind.</p>

        <button ng-disabled="isSubmittingChangeSex" ng-click="changeSex()" class="btn btn-default btn-small">Become a
            transvestite
        </button>
    </modal>

    <modal id="skillModal" title="Add a skill">

        <p>You can add a maximum of 15 skills, you can remove them any time.</p>

        <form name="addSkillForm" ng-model="addSkillForm">
            <div class="form-group">
                <label>Skill</label>
                <input type="text" name="skill" class="form-control" ng-model="skill.text" required ng-minlength="3"
                       ng-maxlength="25"/>

                <div ng-show="(skill.isSubmitted && !addSkillForm.skill.$valid)" class="alert alert-error">
                    Your skill must be 3 to 25 characters long.
                </div>
            </div>
            <button ng-disabled="skill.isLoading" class="btn btn-default btn-xs" ng-click="addSkill(addSkillForm)">Add
                skill
            </button>
        </form>
        </input>
    </modal>

    <modal id="removeSkillModal" title="Remove Skill">
        <p>
          Are you sure you want to remove the following skill: {{skill.removeSkillName}}
        </p>

        <button ng-disabled="isRemovingSkill" ng-click="removeSkill(skill.removeSkillId)" class="btn btn-default btn-small">Remove skill</button>
    </modal>

    <link rel="stylesheet" type="text/css" href="/css/character.css"/>
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <script src="/js/tinymce/tinymce.min.js"></script>
</div>