<breadcrumbs ng-attr-title="breadcrumbs.title" ng-attr-links="breadcrumbs.links"></breadcrumbs>

<div class="page normal-page container">

    <div class="row">
        <div id="donate" class="span8">
            <div class="widget">
                <div class="title-wrapper">
                    <h3 class="widget-title">Information</h3>

                    <div class="clear"></div>
                </div>
                <div class="wcontainer">
                    Your payment state is currently pending, this means that it takes a few days for PayPal to process the payment.
                    <br/><br />
                    Unfortunately we can't give you your precious GZF gold  yet because we haven't received a payment from PayPal.
                    <br/>
                    When PayPal has completed the transaction we will get a notification and the GZF gold  will be automatically send to you.
                </div>
            </div>
        </div>

        <div class="span4">
            <account></account>
        </div>
    </div>
</div>