<breadcrumbs ng-attr-title="breadcrumbs.title" ng-attr-links="breadcrumbs.links"></breadcrumbs>

<div class="page normal-page container">

    <div class="row">
        <div id="donate" class="span8">
            <div class="widget">
                <div class="title-wrapper">
                    <h3 class="widget-title">Information</h3>

                    <div class="clear"></div>
                </div>
                <div class="wcontainer">
                    We have received your donation and your GZF gold  has been awarded to you.

                    <br /><br />

                    Thank you very much for your donation from all the staff team and other players, thanks to you we can keep the server running!

                    <br /><br /><br />

                    <center><img src="/img/thankyou.png" /></center>
                </div>
            </div>
        </div>

        <div class="span4">
            <account></account>
        </div>
    </div>
</div>