<breadcrumbs ng-attr-title="breadcrumbs.title" ng-attr-links="breadcrumbs.links"></breadcrumbs>

<div class="page normal-page container">

    <div class="row">
        <div class="span8">
            <div class="widget">
                <div class="title-wrapper">
                    <h3 class="widget-title">Download</h3>

                    <div class="clear"></div>
                </div>
                <div class="wcontainer">
                    <div class="row-fluid">
                        <a href="https://mega.nz/#!LIsGSTJC!MCB7J0_h4dZgwLscfPudrx7MS90AXD9MGAeeXvp9HrA" target="_blank"
                           class="button-small btn-block text-center">Download Installer</a>
                    </div>

                    <table class="table table-response table-striped">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Minimum</th>
                            <th>Recommended</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Cpu</td>
                            <td>Pentium ||| 500MHz</td>
                            <td>Pentium ||| 800MHz</td>
                        </tr>
                        <tr>
                            <td>Graphics</td>
                            <td>Direct3D 9.0</td>
                            <td>GeForce 4 MX +</td>
                        </tr>
                        <tr>
                            <td>Memory</td>
                            <td>512MB</td>
                            <td>1GB</td>
                        </tr>
                        <tr>
                            <td>OS</td>
                            <td>Windows XP</td>
                            <td>Windows 7</td>
                        </tr>
                        </tbody>
                    </table>
                    <br />
                    * Run the launcher as an administrator in order to check for updates.
                </div>
            </div>
        </div>

        <div class="span4">
            <account></account>
        </div>
    </div>
</div>