<breadcrumbs ng-attr-title="breadcrumbs.title" ng-attr-links="breadcrumbs.links"></breadcrumbs>

<div class="page normal-page container">
    <div ng-show="resetPasswordForm.$submitted && !reset.isLoading" ng-switch on="reset.status">
        <div ng-switch-when="0" class="alert alert-danger">
            You've given an invalid captcha.
        </div>
        <div ng-show="!resetPasswordForm.$valid" ng-switch-default class="alert alert-danger">
           Your password must be between 5 and 25 characters and should be equal to each other.
        </div>
    </div>
    <div class="row-fluid">
        <div class="span8">
            <div class="widget">
                <div class="title-wrapper">
                    <h3 class="widget-title">Reset password</h3>

                    <div class="clear"></div>
                </div>
                <div class="wcontainer">
                    <form name="resetPasswordForm" ng-submit="resetPassword()" novalidate>
                        <div class="control-group">
                            <label>Password</label>
                            <input type="password" ng-model="reset.password" required ng-minlength="5" ng-maxlength="20"/>
                        </div>
                        <div class="control-group">
                            <label>Repeat password</label>
                            <input type="password" ng-model="reset.repeatPassword" required ng-minlength="5" ng-maxlength="20" compare-to="reset.password"/>
                        </div>
                        <div class="control-group">
                            <label>Captcha</label>
                            <div vc-recaptcha key="'6Lf3FBATAAAAAC7QArA2xTBURkOmuuJofaSy797A'"></div>
                        </div>
                        <input type="submit" value="Reset password" class="button-small" ng-disabled="reset.isLoading"/>
                    </form>
                </div>
            </div>
        </div>
        <div class="span4">
            <account></account>
        </div>
    </div>
</div>