<div id="download" class="widget">
    <div class="title-wrapper">
        <h3 class="widget-title">Download</h3>

        <div class="clear"></div>
    </div>
    <div class="wcontainer">
        <a href="/download" class="button-small btn-block text-center">Download for free</a>
        <table class="table table-response table-striped">
            <thead>
            <tr>
                <th></th>
                <th>Minimum</th>
                <th>Recommended</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Cpu</td>
                <td>Pentium ||| 500MHz</td>
                <td>Pentium ||| 800MHz</td>
            </tr>
            <tr>
                <td>Graphics</td>
                <td>Direct3D 9.0</td>
                <td>GeForce 4 MX +</td>
            </tr>
            <tr>
                <td>Memory</td>
                <td>512MB</td>
                <td>1GB</td>
            </tr>
            <tr>
                <td>OS</td>
                <td>Windows XP</td>
                <td>Windows 7</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>